# Day 2

# Variables and Operators

In [1]:
a= 1
print(a)

1

In [4]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [6]:
x = "apple"
print(x)

apple

In [8]:
student = 23
print(student)

23

In [9]:
student123 = 25
print(student123)

25

In [10]:
 _a = 5
print(_a)

5

# many values to multiple variable

In [11]:
x,y,z=  "orange","banana","cherry"
print(x,y,z)

orange banana cherry

In [13]:
x=y=z= "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# python output variable

In [17]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)
print()
print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# Data types

In [18]:
x = 2 
print(x)
print(type(x))

2
<class 'int'>

In [19]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [20]:
z = 3+5j
print(z)
print(type(z))

(3+5j)
<class 'complex'>

In [21]:
a = "This is the day 2 of python class"
print(a)
print(type(a))

This is the day 2 of python class
<class 'str'>

In [23]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [24]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [25]:
%whos

Variable     Type       Data/Info
---------------------------------
a            str        This is the day 2 of python class
b            list       n=10
c            tuple      n=10
student      int        23
student123   int        25
studnet      int        23
x            int        2
y            float      4.5
z            complex    (3+5j)

# Operator in Python

In [26]:
a = 5
b = 3 
print(a+b)

8

In [27]:
a = 5
b = 2.3
print(a+b)

7.3

In [28]:
a = 5+2j
b = 4 
print(a+b)

(9+2j)

In [31]:
a = "Hello"
b = " Students"
print(a+ "" +b)

Hello Students

# Subtraction

In [32]:
a = 15 
b = 10
print(a-b)

5

In [33]:
a = 15 
b = 10.5
print(a-b)

4.5

In [34]:
a = 15+5j
b = 10
print(a-b)

(5+5j)

In [35]:
a = "Hello"
b = "Students"
print(a - b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication

In [36]:
a = 15
b = 56
print(a*b)

840

In [37]:
a = 5.689
b = 6.789
print(a*b)

38.622620999999995

# Division

In [38]:
a = 10
b = 5
print(a/b)

2.0

# Modulous

In [39]:
a = 19
b = 3
print(a%b)

1

In [40]:
a = 12
b = 4
print(a%b)

0

# Exponent

In [44]:
a = 41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [45]:
a = ((859*78)+(78.256/89)+(856**67)+(145688-7526))
print(a)

2.990489165920469e+196

# BOOLEAN

In [51]:
a = True
b = False 
print(not(a))

False

In [52]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)

20637005.183908045

# Revision

In [13]:
length_of_rectangle = 30 
width_of_rectangle = 20
user_name='Prashant'
price = 54.36
mybol= True
print(f'area of recatangle is {length_of_rectangle * width_of_rectangle }')
print(f'my name is {user_name}')
print(type(price))
print(type(mybol))

area of recatangle is 600
my name is Prashant
<class 'float'>
<class 'bool'>

In [12]:
num1 =10
num2='10'
print(type(num1))
print(type(num2))

<class 'int'>
<class 'str'>

In [14]:
a= 2
b= 5
print(a**b)

32

In [15]:
print(10//3)

3

In [16]:
result= (2*(3+4)**2/5-6)
print(result)

13.600000000000001

In [18]:
#strings
f_name='Pual'
l_name='Philip'
full_name = f_name+' ' +l_name
print(full_name)

Pual Philip

In [ ]:
#string operation 

msg.lower()
msg.uppper()
msg.title()
msg.split()

In [21]:
print(full_name.lower())
print(full_name.upper())

pual philip
PUAL PHILIP

In [26]:
msg = 'hello world! is my first program'
print(msg.split())

['hello', 'world!', 'is', 'my', 'first', 'program']

In [27]:
msg = 'hello world!'
print(msg.title())

Hello World!

In [28]:
msg = 'hello world! is my first program'
print(msg.split('!'))

['hello world', ' is my first program']

In [42]:
msg = 'hello world! is my first program'
print(msg[-1])

m