# SET

# 1. Creating a set

In [7]:
a = {"blue" , "ball" ,"cat"}
print(a)
print(type(a))

{'blue', 'ball', 'cat'}
<class 'set'>

# 2. Set ITEMS are unordered

In [6]:
a = {"animal" , "ball" ,"cat"}
print(a[1]) - Un-indexing

TypeError: 'set' object is not subscriptable

# 3. Duplicates not allowed

In [9]:
a = {"animals" , "ball" ,"cat" , "animals" ,"ball","ball"}
print(a)

{'animals', 'ball', 'cat'}

# 4. TRUE and 1 is consider the same value

In [10]:
a = {"animals" , "ball" ,"cat" , "animals" ,"ball","ball" ,1,2,3, True}
print(a)

{1, 2, 3, 'animals', 'ball', 'cat'}

# 5. Get the length of a set

In [12]:
a = {"animals" , "ball" ,"cat" , "animals" ,"ball","ball" ,1,2,3, True}
print(len(a))
print(a)

6
{1, 2, 3, 'animals', 'ball', 'cat'}

# 6. Set items - Data types

In [14]:
x1 = {1,2,3,4}
x2 = {1.2,2.4,2.5,4.5}
x3 = {"a","b","c"}
x4 = {True, False , True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.4, 2.5, 4.5} {'c', 'b', 'a'} {False, True}

In [15]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

In [16]:
x5 = {(1,2,3,4)}
print(x5)

{(1, 2, 3, 4)}

In [17]:
x6 = {{"a":1,"b":2}}
print(x6)

TypeError: unhashable type: 'dict'

In [18]:
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# 7. The set () constructor

In [20]:
thisset = set(("alpha","beta","gamma"))
print(thisset)
print(type(thisset))

{'beta', 'alpha', 'gamma'}
<class 'set'>

# 8. Creating Empty set

In [21]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [22]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# 9 . ACCEESS ITEM

In [25]:
a = {"a","b","c","d"}

for x in a:
    print(x)

c
b
a
d

# 10. Check if " ITEM " is present in the set

In [26]:
a = {"data", "python","code"}
print("code" in a )

True

In [27]:
a = {"data", "python","code"}
print("analyst" in a )

False

# 11. ADD ITEM

In [28]:
a = {"a","b","c","d"}
a.add(100)
print(a)

{100, 'c', 'b', 'd', 'a'}

In [31]:
x = {"data","python","code"}
y = {10,20,30,40,50,60,70}
x.update(y)
print(x)

{70, 40, 10, 'data', 50, 20, 'code', 'python', 60, 30}

# 12. REMOVE SET ITEMS

In [35]:
n ={70, 40, 10, 'data', 50, 20, 'code', 'python', 60, 30}
n.remove(40)
n.remove("python")
n.pop()
print(n)

{10, 'data', 50, 20, 'code', 60, 30}

# 13. Join two sets

In [36]:
x = {"a","b","c"}
y ={1,2,3}
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

# Q. Write a python program to find max and min values

In [37]:
setn = {5,10,3,15,2,20}
print("Original set elements")
print(setn)
print("Maximum value of the set is")
print(max(setn))
print("Minimum value of the set is ")
print(min(setn))

Original set elements
{2, 3, 20, 5, 10, 15}
Maximum value of the set is
20
Minimum value of the set is
2

# Return a new set of identical items from two sets

In [38]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}