# Day 9

# Introduction to tuples in python

# 1. Creating a tuples

In [3]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# 2. Creating tuple as mixed datatypes

In [4]:
my_tuple = (1,2,3,4.5,6.9,"sailesh","singh",3+4j)
print(my_tuple)

(1, 2, 3, 4.5, 6.9, 'sailesh', 'singh', (3+4j))

# 3. Empty tuple

In [6]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# 4. Nested Tuples

In [7]:
a = ("data", [1,2,3], (4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# 5. Creating a tuple with only one item

In [10]:
a = ("Hello", )
print(a)
print(type(a))

('Hello',)
<class 'tuple'>

In [11]:
b = (5,)
print(b)
print(type(b))

(5,)
<class 'tuple'>

# 6. Tuple Constructor

In [14]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# 7. Indexing

In [15]:
a = (47,48,45,48,4,8)
print(a[5])

8

In [17]:
a = (47,48,45,48,4,8,"data","python")
print(a[7])

python

In [18]:
a = (47,48,45,48,4,8,"data","python")
print(a[-1])

python

# 8. Slicing

In [21]:
a = (14,15,16,17,18,2,45,67,89)
print(a[0:6])

(14, 15, 16, 17, 18, 2)

In [22]:
a = (14,15,16,17,18,2,45,67,89)
print(a[:6])

(14, 15, 16, 17, 18, 2)

In [24]:
a = (14,15,16,17,18,2,45,67,89)
print(a[0:9])

(14, 15, 16, 17, 18, 2, 45, 67, 89)

In [25]:
a = (14,15,16,17,18,2,45,67,89)
print(a[:])

(14, 15, 16, 17, 18, 2, 45, 67, 89)

In [27]:
a = (14,15,16,17,18,2,45,67,89)
print(a[::2])

(14, 16, 18, 45, 89)

In [28]:
a = (14,15,16,17,18,2,45,67,89)
print(a[::3])

(14, 17, 45)

# 9. Reverse

In [29]:
a = (14,15,16,17,18,2,45,67,89)
print(a[::-1])

(89, 67, 45, 2, 18, 17, 16, 15, 14)

In [31]:
t = (1,2,3,4,5,6,7,8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [32]:
a = (25,26,27,28,29)
y = list(a)
y.append("30")
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, '30')

In [36]:
a = (25,26,27,28,29)
y = list(a)
y.remove(26)
a = tuple(y)
print(a)

(25, 27, 28, 29)

In [38]:
a = (1,2,3,4,5,6,7,8,9)
del a 
print(a)

NameError: name 'a' is not defined

# 10. LOOP

In [40]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# 11. JOin two tuple

In [41]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# 12. Multiply

In [42]:
a = ("apple","data","python")
b = a*2
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python')

In [43]:
T = (1,2,3,4,5,6,7,8)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# Q. Write a program to take 5 input from the user and store it in a tuple

In [44]:
T = ()
i = 0
while i<=5:
    num = int(input("Enter the values please "))
    T = T + (num,)
    i = i + 1
    print(T)

Enter the values please 10
(10,)
Enter the values please 20
(10, 20)
Enter the values please 30
(10, 20, 30)
Enter the values please 40
(10, 20, 30, 40)
Enter the values please 50
(10, 20, 30, 40, 50)
Enter the values please 60
(10, 20, 30, 40, 50, 60)