# Day 6

# User defined Function in Python

# 1. Creating a used define function

In [7]:
def my_function():
    print("Hello")
    print("We are learning python")

# 2. Calling a function

In [8]:
my_function()

Hello
We are learning python

Making the result of a studnet

In [1]:
def contact():
    print("Contact detail of the school ")
    print("Gyanodaya Bal Batika School ")
    print("9861437917 ")
    print("saileshsingh.402@gmail.com ")
for i in range(4):
    a = input("Name of the student ")
    b = int(input("Marks scorde in math "))
    c = int(input("Marks scorde in science "))
    d = int(input("Marks scorde in social "))
    print()
    contact()

Name of the student sailesh
Marks scorde in math 32
Marks scorde in science 45
Marks scorde in social 66

Contact detail of the school
Gyanodaya Bal Batika School
9861437917
saileshsingh.402@gmail.com
Name of the student ram
Marks scorde in math 32
Marks scorde in science 432
Marks scorde in social 43

Contact detail of the school
Gyanodaya Bal Batika School
9861437917
saileshsingh.402@gmail.com
Name of the student hari
Marks scorde in math 32
Marks scorde in science 56
Marks scorde in social 78

Contact detail of the school
Gyanodaya Bal Batika School
9861437917
saileshsingh.402@gmail.com
Name of the student krishna
Marks scorde in math 23
Marks scorde in science 56
Marks scorde in social 78

Contact detail of the school
Gyanodaya Bal Batika School
9861437917
saileshsingh.402@gmail.com

# 2. Arguments

In [6]:
def my_function(Fname):
    print(Fname + " "+ "Sharma")
my_function("HARI")
my_function("pooja")
my_function("DIYA")

HARI Sharma
pooja Sharma
DIYA Sharma

In [11]:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function("Shreya","Lama")
my_function("Hi", "I love you")

Shreya Lama
Hi I love you

In [ ]:
#Write a program to calculate the electricity bill

If 500 unit used - pay Rs 5 for each unit
if 700 uint used - pay Rs 10 for each unit
if 1000 unit used - pay Rs 15 for each unit
if more than 1000 used - pay Rs 20 for each unit

In [2]:
def electricity_bill(n):
    if n<=500:
        print("Your bill is Rs", n*5)
    elif n>500 and n<=700:
        print("Your bill is Rs", n*10)
    elif n>700 and n<=1000:
        print("Your bill is Rs", n*15)
    elif n>1000:
        print("Your bill is Rs", n *20)
def instruction():
    print("Last day of paying bill is 20 April")
    print("After 20 april you need to pay 1000 Rs as a fine")
    print("Electricity office New Baneshwar")
for i in range(3):
    a = input("Enter name of customer ")
    n = int(input("Enter the unit of electricity you have used"))
    electricity_bill(n)
    print()
    instruction()

Enter name of customer Sailesh
Enter the unit of electricity you have used450
Your bill is Rs 2250

Last day of paying bill is 20 April
After 20 april you need to pay 1000 Rs as a fine
Electricity office New Baneshwar
Enter name of customer Suraj
Enter the unit of electricity you have used700
Your bill is Rs 7000

Last day of paying bill is 20 April
After 20 april you need to pay 1000 Rs as a fine
Electricity office New Baneshwar
Enter name of customer BHAIYAA
Enter the unit of electricity you have used1000
Your bill is Rs 15000

Last day of paying bill is 20 April
After 20 april you need to pay 1000 Rs as a fine
Electricity office New Baneshwar