In [ ]:
#list 
How to define a list?
users=['raju','sham','paul']

How to get values from list?
users[0]
users[1]
users[-1]

In [8]:
user_list= ['Alex','Raju','Sham','Baburao']
print(user_list)

['Alex', 'Raju', 'Sham', 'Baburao']

In [4]:
user_list= ['Alex','Raju','Sham','Baburao']
print(user_list[0])

Alex

In [6]:
user_list= ['Alex','Raju','Sham','Baburao']
print(user_list[1])

Raju

In [ ]:
#adding item to a list?
users.append('alex')
#how to delete values from a list?
users.remove('raju')
how to modify values from list?
users[1]='sham'

In [10]:
user_list.append('sailesh')
print(user_list)

['Alex', 'Raju', 'Sham', 'Baburao', 'sailesh', 'sailesh', 'sailesh']

In [13]:
user_list.remove('sailesh')
print(user_list)

['Alex', 'Raju', 'Sham', 'Baburao']

In [14]:
user_list[1]= "Sailesh"
print(user_list)

['Alex', 'Sailesh', 'Sham', 'Baburao']

In [1]:
_=90
_

90

In [2]:
_u=90
_u

90

In [3]:
0.2+0.2+0.2 == 0.6

False

In [4]:
 x=15.8
y=4
x//y

3.0

In [5]:
-5//2

-3

In [6]:
 x=10
type(id(x))

int

In [7]:
 7 or 5<4

7

In [8]:
print('sailesh','wwww.facebook.in')

sailesh wwww.facebook.in

In [18]:
 print("hello", end=" ")
print('world')

hello world

In [20]:
x=4.2341
print('%f'%x)

4.234100

In [21]:
a,b=5,3
a,b,a=a+1,b+3,a+10
print(a,b)

15 6

In [22]:
 x=10
    id(x)

IndentationError: unexpected indent (3012561089.py, line 2)

In [27]:
for i in 'rama':
  print(i)

r
a
m
a

In [29]:
for i in "ramayan":
    if i =='a':
        break
    else:
            print(i)

r

In [33]:
x=100
if x%4==0:
    print('divisible by 4')
elif x%10==0:
    print("divisible by 10")
else:
        print('not divisible')

divisible by 4

In [35]:
lst=[1,2,3,4,5];
print(lst[3])

4

In [37]:
lst=[1,2,3,4,5];
print(lst[3])

4

In [38]:
def add_numbers(a, b=0, *args, **kwargs):     
return a + b 

result = add_numbers(3, 5, 7, 9) 
print(result)

IndentationError: expected an indented block after function definition on line 1 (608399684.py, line 2)